In [1]:
%load_ext sql

In [2]:
%sql sqlite:///Retail.db

In [4]:
%sql SELECT * FROM products limit 10

 * sqlite:///Retail.db
Done.

[(1, 'drive frictionless e-tailers', 'Groceries', 40.93),
 (2, 'implement integrated vortals', 'Toys', 182.63),
 (3, 're-intermediate real-time e-commerce', 'Electronics', 12.97),
 (4, 'evolve intuitive experiences', 'Health', 168.1),
 (5, 'expedite frictionless functionalities', 'Fashion', 53.86),
 (6, 'synthesize world-class info-mediaries', 'Health', 139.24),
 (7, 'brand 24/7 methodologies', 'Fashion', 176.33),
 (8, 'matrix out-of-the-box paradigms', 'Kitchen', 158.75),
 (9, 'streamline user-centric platforms', 'Books', 199.69),
 (10, 'repurpose clicks-and-mortar eyeballs', 'Tools', 184.92)]

In [12]:
%sql SELECT sales.sale_date, SUM(sales.quantity * products.price) AS Revenue FROM sales INNER JOIN products ON sales.product_id = products.id GROUP BY sales.sale_date ORDER BY Revenue DESC LIMIT 1;

 * sqlite:///Retail.db
Done.

[('2020-04-28', 4991.919999999999)]

In [ ]:
%sql SELECT CustomerID, SUM(Quantity * Price) AS TotalSpent FROM Sales GROUP BY CustomerID ORDER BY TotalSpent DESC LIMIT 1;